*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 500px;
    width: 600px;
    position: relative;
    top: 50px;
    left: 200px;
    background-color: rgb(208, 255, 0);
}
.icon{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 0, 0);
    
    position: relative;
    top: 180px;
    left: 230px;
}
.img{
    position: absolute;
    top: 40px;
    left: 40px;
}