.btn{
    background-color: rgb(0, 235, 12);
    height: 30px;
    width: 80px;
}
.btn1{
    background-color: rgb(235, 16, 0);
    height: 30px;
    width: 80px;
}
.green{
    margin: 10px;
    background-color: greenyellow;
    width: 150px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
}
.red{
    margin: 10px;
    background-color: rgb(219, 16, 16);
    width: 150px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}
.blue{
    margin: 10px;
    background-color: rgb(75, 3, 231);
    width: 150px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}