.container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: #21f352;
    padding: 10px;
}
.grid-items {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
  }

  

  @media screen and (max-width:680px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
      
    
  }
  @media screen and (max-width:480px) {
    .container2{
        justify-content: end;
    }
      
    
  }